! xrdb -merge ~/.Xresources

! Cursor
Xcursor.theme: Pulse-Glass-Jade-Regular
Xcursor.size: 24

! Base colors
*.foreground:  #E1E1E1
*.background:  #1c2023
*.cursorColor: #778899

*.color0:  #1c2023
*.color1:  #bf616a
*.color2:  #a3be8c
*.color3:  #ebcb8b
*.color4:  #8fa1b3
*.color5:  #b48ead
*.color6:  #96b5b4
*.color7:  #E1E1E1
*.color8:  #919ba0
*.color9:  #bf616a
*.color10: #a3be8c
*.color11: #ebcb8b
*.color12: #8fa1b3
*.color13: #b48ead
*.color14: #96b5b4
*.color15: #c0c5ce

! Rofi
rofi.font: monospace 12
rofi.padding: 20
rofi.line-padding: 2
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.color-window: #1c2023, #919ba0, #1c2023
rofi.color-normal: #1c2023, #919ba0, #1c2023, #a4a4a4, #1c2023
rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49
rofi.kb-cancel: Escape,Alt+F1

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#1C2023
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false

! xterm
xterm*depth: 24
xterm*termName: xterm-256color
xterm*font: Hack NF
xterm*faceName: Hack NF:size=18
xterm*boldFont: xft:Hack NF:bold:size=18
xterm*italicFont: xft:Hack NF:italic:size=18
xterm*boldItalicFont: xft:Hack NF:bold:italic:size=18
xterm*antialias: true
xterm*subPixel: true
xterm*subPixelOrder: RGB
xterm*renderFont: true
xterm*dpi: 96

xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*geometry: 90x34
xterm*saveLines: 997891
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: true
XTerm*selectToClipboard: true

xterm*letterSpace: 0
xterm*lineSpace: 0
xterm*wordSep: 0

xterm*cursorBlink: false
xterm*cursorUnderline: false
xterm*cursorColor: #00cc99

xterm*scrollBar: false
xterm*scrollBar_left: false
xterm*scrollBar_right: false
xterm*scrollstyle: next
xterm*skipScroll: true

xterm*urlLauncher: default
xterm*matcher.button: 1
xterm*perl-ext-common: matcher,clipboard
xterm*copyCommand: xsel -ib
xterm*pasteCommand: xsel -ob
xterm*cutchars: " ()*,<>[]{}|'`\""
xterm*tripleclickwords: true

xterm*background: #24283b
xterm*foreground: #33cccc
xterm*highlightColor: #364A82
xterm*highlightTextColor: #c0caf5
xterm*urlColor: #73daca

xterm*color0: #1D202F
xterm*color1: #707070
xterm*color2: #00ff00
xterm*color3: #ffff00
xterm*color4: #ffff00
xterm*color5: #cc66ff
xterm*color6: #33ccff
xterm*color7: #bac1de
xterm*color8: #707070
xterm*color9: #f10e38
xterm*color10: #05f005
xterm*color11: #ffff00
xterm*color12: #0000ff
xterm*color13: #bb9af7
xterm*color14: #33ccff
xterm*color15: #bac1de
xterm*color16: #ff9e64
xterm*color17: #db4b4b

xterm*borderWidth: 1
xterm*internalBorder: 2
xterm*externalBorder: 0
xterm*marginBell: false
xterm*urgentOnBell: false

xterm*transparent: true
xterm*shading: 90

xterm*perl-lib: /usr/lib/xterm/perl

xterm*tabbed.tabbar-fg: 7
xterm*tabbed.tabbar-bg: 0
xterm*tabbed.tab-fg: 7
xterm*tabbed.tab-bg: 1
xterm*tabbed.tab-underline: false

xterm*vt100*translations: #override \
    Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

